## This is an example for ant bot config
## copy the ant.config.example to ant.config in the current folder or in ~/.config
##

## Please specify the BOT_ID or the BOT NAME (required)
BOT_ID=U1111111B
# BOT_NAME=ant

## Please specify the Slack bot api key (required)
SLACK_BOT_TOKEN=xoxb-00000000000-xxxxxxxxxxxxxxxxxxxxxxxx


## Please specify the use the command folder or use the current folder
# SCRIPTS_FOLDER=/tmp/scripts

## Please specify the use the regular job folder or use the current folder
# 
# JOBS_FOLDER=/tmp/jobs
# JOBS_CHANNEL=jobsOutputChannelName
# 
# please set the regular script into miniutes 
# for example, do something in every 5 min:
# /tmp/jobs/5/do_something
# 
# for example, do something in every hour:
# /tmp/jobs/60/do_something


# specify a default script to handle the known command
# DEFAULT_SCRIPT=/tmp/scripts/default/default.sh

## Please specify the logfile
# LOG_FILE=/var/log/ant.log

## Uncomment this if your want show execution output response to slack
# OUTPUT=True

## The encoding of STDOUT, default is utf-8
# ENCODING=ascii
# ENCODING=utf-8

## Uncomment this line if you want the caller to be mentioned in the response message
# MENTION=True

## The debug channel always show the output
#DEBUG_CHANNEL=debugChannelName
